<!DOCTYPE html>
<html>
    <body>
        <form name="input" action="/submit" method="post">
            <div>
                <input type="text" name="address1"></input>
            </div>
            <div>
                <input type="text" name="address2"></input>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form> 
    </body>
</html>


